*.o
*.pyc
*build-gui-Desktop_Qt*
*~
.DS_Store
/.idea
/.vs
/CMakeFiles
/CMakeLists.txt.*
/CMakeLists.txt.user
/bin
/build
/cmake-build-debug
/ext/cryptopp562
/ext/openssl
/lib
/src/gui/Makefile*
/src/gui/object_script*
/src/gui/tmp
/src/gui/ui_*
\.*.swp
build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/src/
config.h
src/gui/.qmake.stash
src/gui/.rnd
src/gui/gui.pro.user*
src/setup/win32/synergy.suo
synergyc
synergys
/.idea
/cmake-build-*
/CMakeLists.txt.user
/.vs
/CMakeLists.txt.*
/doxygen/
